.burgerWrapper{
    position: relative;
    width: 100%;
    max-width: 84px;
    height: 100%;
    border-right: 1px solid #5360CD;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}