.textPage {
    width: 920px;
    color: var(--system-colors-secondary, #313037);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

p{
    margin-bottom: 48px;
}