.wrapperSuccess{
    width: 1120px;
    position: relative;
    margin: 0 auto;
}

.confirmedBlock{
    width: 544px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin: 72px auto 0;
    border: 1px solid #dadada;
    border-radius: 1px;
}