.footer {
    width: 100%;
    margin-top: 72px;
    position: relative;
    bottom: 0;
}

.footerWrapper{
    width: 81.2%;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8D8E97;
    font-family: Inter;
    font-size: 16px;
    border-top: 1px solid #dadada;
    margin: 0 auto;
}