.emailInput {
    margin-bottom: 40px;
}

.passwordInput {
    margin-bottom: 40px;
}

.emailInput,
.passwordInput {
    width: 93%;
    padding: 18px;
    font-family: Inter;
    font-size: 16px;
    color: #8d8e97;
    outline: none;
    border: none;
}

.lableInput {
    color: var(--system-colors-secondary, #313037);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}