.postsWrapper {
    display: flex;
    margin: 30px auto;
    width: 96.5%;

}

.mediumCards {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-top: 40px;
    gap: 30px 16px;
}

.smallCards {
    margin-left: 25px;
    display: grid;
    grid-template-rows: 6;
    gap: 25px 0;
}