.addPostWrapper{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
}
.inputlessonNumAndImg{
    display: flex;
    justify-content: space-between;
}

.inputLessonNum, .inputImg{
    width: 48%;
    display: flex;
    flex-direction: column;
}